@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    font-family: 'Permanent Marker', cursive;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    letter-spacing: 0.2rem;
}

a {
    text-decoration: none;
    font-size: 25px;
    color: #29b6f6;
}

.container {
    display: grid;
    grid-template-areas:
    "navbar"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 12fr 1fr;
    width: 100%;
    height: 100%;
}

#navbar {
    grid-area: navbar;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    border-bottom: 0.1rem solid;
}

#content-container {
    grid-area: main;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
#content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    margin: 2rem 2rem 2rem 2rem;
}

#tiny, #app-name {
    font-size: 100px;
}

#other-text {
    font-size: 15px;
}

#left-button, #right-button {
  border: none;
  text-align: center;
  font-size: 25px;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}

#footer {
    grid-area: footer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

#footer .copyright {
    letter-spacing: 0.2rem;
    font-size: 0.6rem;
    opacity: 0.80;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.left {
    margin-left: 5rem;
}

.right {
    margin-right: 5rem;
}
.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* filter: blur(18px); */
}

.circle-light {
    background: linear-gradient( #A0A0A1 0%,  #CCCCCC 10%, #F5F5F6 50%, #FFFFFF 100%);
    color: #000000
}

.inner-circle-light {
    background: linear-gradient(#FFFFFF 0%, #CCCCCC 60%, #A0A0A1 100%);
}

.circle-dark {
    background: linear-gradient(#F5F5F6 0%,  #919192 10%, #2C2C2C 50%, #000000 100%);
    color: #FFFFFF;
}

.inner-circle-dark {
    background: linear-gradient(#000000 0%, #2C2C2C 60%, #FFFFFF 100%);
}

.dark {
    background-color: #000000;
    color: #F8F8FF;
}

.light {
    background-color: #FFFFFF;
    color: #62757f;
}

ul.icons li a {
    display: inline-block;
    height: 2.25rem;
    line-height: 2.25rem;
    text-align: center;
    width: 2.25rem;
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.icons li {
    display: inline-block;
    padding: 0 0.75em 0 0;
}

.icon > .label {
    display: none;
}
