@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    font-family: 'Permanent Marker', cursive;
}

html, body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* canvas {
    border: 5px solid;
    border-color: #51e6f7;
} */
